<!DOCTYPE html>
<html lan="en">

<head>
    <%- include("../partials/head"); %>
</head>

<body>
    <header>
        <%- include("../partials/header"); %>
    </header>

    <h1 class="text-center">TheBook - What is it?</h1>
    <p class="text-center">TheBook is the very best Guestbook in the interwebs. And you know why? Because it was made by the very best people, right here, at TheCompany!</p>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>

</html>