<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
</head>

<body>
    <%- include("../partials/header"); %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Apartment API</h1>
            <p>This is an amazing API for all of your apartment needs!</p>
        </div>
    </div>
    <div class="container">
        <p>
            Apartment API is a small school project to practice creating APIs. It has no real use, but you are welcome to check it out with this small website!
        </p>
        <p>
            There is a dropdown menu that includes GET (with an address), GETALL and ADD -API forms to test those functionalities. There is also a small documentation page that shows all available API-calls.
        </p>
    </div>
    <%- include("../partials/footer"); %>
</body>

</html>